.team {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(445px) fit-content(635px);
  align-items: center;
  column-gap: 30px;

  &__image {
    aspect-ratio: 445 / 440;
    background-color: transparent;
  }

  &__container {
    margin-top: 80px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @include section-title;
    color: $text-main;
  }

  &__text {
    @include section-text;
    color: $text-main;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 930px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    &__image {
      max-width: 74%;
    }

    &__container {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 520px) {
  .team__image {
    max-width: 100%;
  }
}
