//fonts
@mixin section-title {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

@mixin section-text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

@mixin section-tab {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 21px;
  }
}
