//background-image
@mixin background-image($src) {
  background-image: url($src + '.jpg');
  background-image: image-set(url($src + '.webp') type('image/webp'));
}

//fonts
@mixin section-title {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(24px, 4vw, 40px);
  line-height: 110%;
}

@mixin section-text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(16px, 2.8vw, 18px);
  line-height: 150%;
}

@mixin section-tab {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
  line-height: 23px;
}
