// fonts
$font: 'Raleway-Medium', Arial, Helvetica, sans-serif;

// background colors
$background-main: #fff;
$background-section: #e1ede6;
$border-section: #c3d1c6;

// grayscale colors
$text-main: #2c2d35;
$text-primary: #f4f6f5;
$text-secondary: #86928b;
$text-accent: #598d66;

// accent colors
$base: #598d66;
$base-active: #376b44;
$base-light: #d4e8d9;

$promo: #eedb6d;
$promo-active: #d9b949;
$promo-light: #faeb97;
$promo-dark: #a38314;
