.svg {
  display: block;
  width: 24px;
  height: 24px;
  outline-color: $active;
  transition: background-color .5s ease;

  &__icon {
    width: 24px;
    height: 24px;
    fill: $text-black;
    transition: fill .5s ease;
  }
}

.svg:active .svg__icon {
  fill: $active;
}

.svg:hover .svg__icon {
  fill: $hover;
}

.svg:focus .svg__icon {
  background-color: $focus;
  fill: $active;
}
