.svg {
  display: block;
  width: 24px;
  height: 24px;
  outline-color: $base-active;
  transition: background-color .5s ease;

  &__icon {
    width: 24px;
    height: 24px;
    fill: $text-main;
    transition: fill .5s ease;
  }
}

.svg:active .svg__icon {
  fill: $base-active;
}

.svg:hover .svg__icon {
  fill: $base;
}

.svg:focus .svg__icon {
  background-color: $base-light;
  fill: $base-active;
}
