header.header.page__container_type_header
  div.header__container.page__container
    include ../../components/logo/logo
    nav.header__nav
      ul.header__links
        li.nav
          +nav('Репродукции', '#catalog')
        li.nav
          +nav('Новинки', '#promo')
        li.nav
          +nav('О нас', '#team')
      +svg-link('shopping-cart', '#', 'Корзина')

  div.header__burger.page__container
    button.button.button_icon(type='button' aria-label='Открыть меню' aria-expanded='false')
      +svg('burger').button__svg
    +svg-link('shopping-cart', '#', 'Корзина')