.header {
  width: 100%;
  background-color: $background-section;

  &__container {
    padding-top: 33px;
    padding-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__links {
    display: flex;
    gap: 60px;
  }

  &__burger {
    display: none;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $background-section;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav {
    gap: 40px;
  }

  .header__links {
    gap: 40px;
  }
}

@media screen and (max-width: 650px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
  }

  .header__nav {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid $blur-light;
    gap: 0;
    align-self: stretch;
  }

  .header__cart {
    flex-grow: 1;
    align-self: end;
  }
}

@media screen and (max-width: 480px) {
  .header {
    background-color: transparent;

    &__nav {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }
}
