.button {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include section-tab;
  text-decoration: none;
  outline-color: $base-active;
  transition: color .5s ease, background-color .5s ease;
  cursor: pointer;

  &_primary {
    color: $text-accent;
    background-color: transparent;
    border: 1px solid $text-accent;

    &:active {
      color: $text-primary;
      background-color: $base-active;
      border: 1px solid $base-active;
    }

    &:hover {
      color: $text-primary;
      background-color: $base;
    }

    &:focus {
      background-color: $base-light;
    }
  }

  &_icon {
    width: 30px;
    height: 30px;
    padding: 0;
    fill: $text-main;
    background-color: transparent;
    border: none;
    transition: fill .5s ease, background-color .5s ease;

    &:active {
      fill: $base-active;
    }

    &:hover {
      fill: $base;
    }

    &:focus {
      fill: $base-active;
      background-color: $base-light;
    }
  }

  &__svg {
    width: 100%;
    aspect-ratio: 1;
  }
}

@media screen and (max-width: 768px) {
  .button_primary {
    padding: 14px;
  }
}
