.button {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  transition: color .5s ease, background-color .5s ease;
  cursor: pointer;

  &_primary {
    color: $text-accent;
    background-color: transparent;
    border-color: $text-accent;

    &:active {
      color: $text-primary;
      background-color: $base-active;
      border-color: transparent;
    }

    &:hover {
      color: $text-primary;
      background-color: $base;
    }

    &:focus {
      background-color: $base-light;
    }
  }

  &_promo {
    color: $text-main;
    background-color: $promo;

    &:active {
      background-color: $promo-active;
    }

    &:hover {
      background-color: $promo-light;
    }

    &:focus {
      border-color: $promo-dark;
    }
  }

  &_tab {
    padding: 10px 20px;
    color: $text-main;
    background-color: $base-light;
    border: 1px solid $base-light;
    border-radius: 20px;

    &_active {
      color: $text-primary;
      background-color: $base-active;
      border: 1px solid $base-active;
    }

    &.button_tab_active:focus {
      color: $text-main;
      background-color: $base-light;
    }

    &:active {
      color: $text-primary;
      background-color: $base-active;
      border: 1px solid $base-active;
    }

    &:hover {
      color: $text-primary;
      background-color: $base;
      border: 1px solid $base;
    }

    &:focus {
      border: 1px solid $base;
    }
  }

  &_icon {
    width: 30px;
    height: 30px;
    padding: 0;
    fill: $text-main;
    background-color: transparent;
    border: none;
    transition: fill .5s ease, background-color .5s ease;

    &:active {
      fill: $base-active;
    }

    &:hover {
      fill: $base;
    }

    &:focus {
      fill: $base-active;
      background-color: $base-light;
    }
  }

  &__svg {
    width: 100%;
    aspect-ratio: 1;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 18px;
    line-height: 21px;

    &_primary {
      padding: 14px;
    }
  }
}
