.nav {

  &__item {
    @include section-tab;
    color: $text-main;
    outline: none;
    transition: color .5s ease, background-color .5s ease;

    &:active {
      color: $base-active;
    }

    &:hover {
      color: $base;
    }

    &:focus {
      background-color: $base-light;
    }
  }
}
