.root::-webkit-scrollbar {
  width: 10px;
}
.root::-webkit-scrollbar-track {
  background: $base-light;
}
.root::-webkit-scrollbar-thumb {
  background: $base-active;
  border: 3px solid $base-light;
  border-radius: 5px;
}

.root__menu-open {
  height: 100vh;
  overflow: hidden;
}
