.root::-webkit-scrollbar {
  width: 10px;
}
.root::-webkit-scrollbar-track {
  background: $focus;
}
.root::-webkit-scrollbar-thumb {
  background: $active;
  border: 3px solid $focus;
  border-radius: 5px;
}

.root__menu-open {
  height: 100vh;
  overflow: hidden;
}
