section#catalog.catalog.page__container
  div.catalog__nav
    h2.catalog__title Репродукции
    ul.catalog__tabs
      li
        +tab('Франция')
      li
        +tab('Германия')
      li
        +tab('Англия')