section#promo.promo
  div.promo__container.page__container
    div.promo__heading
      +svg('star').promo__svg
      h2.promo__title
        | Новая коллекция
        | французских авторов
    p.promo__text
      | Сложно сказать, почему акционеры крупнейших компаний призывают нас
      | к&nbsp;новым свершениям, которые, в&nbsp;свою очередь, должны быть заблокированы
      | в&nbsp;рамках своих собственных рациональных ограничений.
    p.promo__text
      | Принимая во&nbsp;внимание показатели успешности, граница обучения
      | кадров предопределяет высокую востребованность направлений прогрессивного развития.
    a.button.button_promo.promo__button(href='#') Ознакомиться