section#intro.intro.page__container
  +picture-jpg('./img/intro/intro_banner', 'Графический рисунок голубя', true).intro__image
  div.intro__container
    h1.intro__title
      | Реплики картин
      | от&nbsp;#[span.intro__title.intro__title_accent Ink. House]
    p.intro__text
      | Высокое качество отрисовки на&nbsp;плотной бумаге или льняном холсте.
      | Редкие произведения, доступные цены.
    a.button.button_primary.intro__button(href='#catalog') Продукция