.intro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;

  &__image {
    aspect-ratio: 27 / 31;
  }

  &__container {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    width: 100%;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(30px, 5vw, 60px);
    line-height: 110%;
    color: $text-main;
  }

  &__accent {
    width: 100%;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(30px, 5vw, 60px);
    line-height: 110%;
    color: $text-accent;
  }

  &__text {
    @include section-text;
    color: $text-secondary;
  }

  &__button {
    margin-top: 40px;
    max-width: 227px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    line-height: 100%;
  }

  .intro__button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    column-gap: 0;

    &__container {
      gap: 10px;
    }

    &__button {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 520px) {
  .intro {
    grid-template-columns: 1fr;

    &__image {
      display: none;
    }

    &__container {
      gap: 20px;
    }

    &__title {
      max-width: 320px;
    }

    &__button {
      margin-top: 20px;
    }
  }
}
