.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    width: fit-content;
    max-width: 100vw;
    max-height: 80vh;
    background-color: $background-section;
  }

  &__buttons {
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    background-color: $background-section;

    &_top {
      right: 16px;
      top: 16px;
    }

    &_bottom {
      right: 16px;
      bottom: 16px;
    }
  }

  &__fullscreen {
    display: flex;
  }

  &__fullscreen-exit {
    display: none;
  }

  &__img {
    aspect-ratio: 16 / 9;
    object-fit: contain;
    background-color: transparent;
  }
}

.in-fullscreen .modal__fullscreen {
  display: none;
}

.in-fullscreen .modal__fullscreen-exit {
  display: flex;
}
