div.modal
  div#myPanzoom.modal__container.f-panzoom
    div.modal__buttons.modal__buttons_top
      button.button.button_icon.modal__close(type='button' aria-label='Закрыть изображение' data-panzoom-action='reset')
        +svg('close').button__svg
    div.modal__buttons.modal__buttons_bottom
      button.button.button_icon.modal__rotate(type='button' aria-label='Повернуть изображение' data-panzoom-change='{"angle": 90}')
        +svg('rotate').button__svg
      button.button.button_icon(type='button' aria-label='Увеличить изображение' data-panzoom-action='zoomIn')
        +svg('plus').button__svg
      button.button.button_icon(type='button' aria-label='Уменьшить изображение' data-panzoom-action='zoomOut')
        +svg('minus').button__svg

    +img('#', '#').modal__img.f-panzoom__content