div.modal
  div#myPanzoom.modal__container.f-panzoom
    button.button.button_primary(data-panzoom-action='zoomIn') Zoom In
    button.button.button_primary(data-panzoom-action='zoomOut') Zoom Out
    +img('./img/catalog/france/f1-big.jpg', 'Охота Амура').modal__img.f-panzoom__content
