@font-face {
  font-family: 'Raleway-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Raleway-Medium'), local('Raleway Medium'),
  url(../fonts/Raleway-Medium.woff2) format('woff2'),
  url(../fonts/Raleway-Medium.woff) format('woff');
}
